.b1{
  background: rgb(101, 226, 248);
  background: linear-gradient(90deg, rgb(101, 226, 248) 0%, rgba(4,1,64,1) 50%) !important;
}
.nav-link{
  color: white !important
}
.nav-link:hover{
  color: rgb(101, 226, 248) !important;
}
.trans{
  background: transparent !important;
}

.active{
  color: cyan !important
}
/*      offer cards       */

.offer .card .card-header{
  background: rgba(59,89,152) ;
  color: white;
  padding: 2rem 0
}
.offer .card .image{
  width: 60px ;
  background: white;
  border: solid white 1px ;
  border-radius: 50px;
  padding: 3px;
  position: absolute;
  top:95px;
  right:40%;
  text-align: center;
  transition: transform 1s;
}
.offer .card .image:hover{
  transform: rotateX(180deg);
}
@media only screen and (max-width: 600px) {
  .offer .card .image{
    right:45%
  }
} 
.line {
  text-decoration: line-through black;
}
.list{
  list-style-type:circle
}
.btn_buy{
  color: #000 ;
  background: rgb(221, 156, 17);
  font-weight: bold;
  width: 60%;
  transition: width 1s;
  -webkit-transition: width 1s;
}
.btn_buy:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 8px 0px;
  width: 80%
}
.rem{
  color:gray
}
/*        service        */
.service .image{
  width: 150px;
  border: solid grey 1px;
  border-radius: 50%;
}
.service .card{
  border: none;
}
.service .image:hover{
  border: none;
  border-radius: 0%;
  width: 170px;
}

.service a{
  text-decoration: none;
  color: black
}
/*    more    */
.more{
  background: rgb(221, 156, 17);
  color:black;
  padding: 4px 0;
}
.more a{
  text-decoration: none;
}
/*      footer     */
.footer{
  color: rgb(255, 255, 255);
  background: rgb(37, 57, 170)
}
.footer .copy{
  background: rgb(50, 50, 51)
}
.footer .link{
  display: block;
  color: white;
  text-decoration: none;
}
.footer .link:hover{
  color: black;
}

.footer .social-networks{	
  text-align: center;	
  padding-top: 30px;	
  padding-bottom: 30px;
}

.footer {	background-color: rgba(55, 58, 72,.8);	color:white;}

.footer .footer-copyright{
	background-color: rgba(4,1,64,1);
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

.footer .footer-copyright p{	margin:10px;	color: #ccc;}

.footer .footer-copyright a{  color: #ef1a1a}

.footer ul{list-style-type: none;padding-left: 0; line-height: 1.7;}

.footer h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

.footer a{color:#d2d1d1;text-decoration: none;}

.footer a:hover, .footer a:focus{text-decoration: none;color:white;}

.footer .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9 ;
    padding: 10px;
    transition: 0.2s;
}
.footer .myCols{text-align: center;}

.footer .social-networks a:hover{text-decoration: none;}

.footer .facebook:hover{color:#0077e2;}

.footer .google:hover{color:#ef1a1a;}

.footer .twitter:hover{color: #00aced;}

/*         503       */

.content {
  text-align: center;
  display: inline-block;
}

.content .title {
  font-size: 72px;
  margin-bottom: 40px;
}

/*          sign-up      */
.join {
  background-image:url("/images/facebook.jpg");
}

.submit{
  background: rgb(221, 156, 17);
  position: relative;
  float:right;
	border-radius:2px;
  box-shadow:0 0 3px rgb(255, 255, 255);
  top: -25px;
  right: -30px;
  padding: 10px 4px
}

.sign-up{
  /*background-image: radial-gradient(circle, #0c1372 0%, #52d7ee 80%);*/
  padding: 2rem
}

.sign-up fieldset {
	border:1px solid rgb(255, 255, 255);
	border-radius:8px;
  box-shadow:0 0 7px rgb(0, 0, 0);
  color: white;
  background:rgba(20, 22, 151, 0.7)
}
.sign-up legend {
  background:transparent;
  text-align: center;
  
}
.form-check-label a{
  color: #ef1a1a
}
/*          sign-in      */